{{#acls}}
Bucket: {{bucket}}
Name: {{name}}
Grants: {{#grants}}
        Grant name: {{name}}
        Grant URI: {{uri}}
        Grant permission: {{permission}}
        Grant email: {{email}}
        {{/grants}}
--
{{/acls}}
